@import "reset";
@import "cf";
@import "mixins";
@import "colors";

.roboto {
	font-family: 'Roboto Slab', serif;
}

.handwritting {
	font-family: 'Just Another Hand', cursive;
}

body {
	@extend .roboto;
	line-height: 26px;
	color: $text;
	background: url('../images/concrete_seamless.png');
	font-size: 16px;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

#header {
	@extend .bgcover;
	width: 100%;
	overflow: hidden;
	background-position: center center;

	.overlay {
		background-color: rgba($headline, 0.7);
		overflow: hidden;
		width: 100%;
	}
}

#logo {
	margin: 80px auto;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	display: block;

	h1 {
		font-weight: 700;
		font-size: 36px;
	}

	h2 {
		font-size: 24px;
		font-weight: 300;
		margin-top: 10px;
		letter-spacing: 1px;
	}
}

#main_navigation {
	width: 100%;
	min-height: 80px;
	text-align: center;
	background: #fff;

	li {
		text-align: center;
		display: inline-block;

		&:last-of-type {
			a {
				border-right: none;
			}
		}
	}

	a {
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 700;
		padding: 0 40px;
		border-right: 1px solid $border;
		line-height: 80px;
		display: block;
	}
}

.post {
	width: 100%;
	background: #fff;
	box-shadow: 0 0 40px 0 rgba(black, 0.2);
	margin-top: 80px;
	overflow: hidden;

	&.sticky {
		box-shadow: 0 0 0 11px #fff inset, 0 0 0 15px rgba(black, 0.05) inset;
	}

	&.page {
		margin-bottom: 80px;
	}

	.featured_image {
		width: 40%;
		height: 100%;
		float: left;
		@extend .bgcover;
		background-position: center center;
		overflow: hidden;
		background-position: center center;
	}

	.post_content {
		width: 60%;
		padding: 40px;
		@extend .borderbox;
		float: left;

		h1, h2, h3, h4, h5, h6 {
			font-weight: 700;
			margin-bottom: 15px;
		}

		h1 {
			font-size: 32px;
		}

		h2 {
			font-size: 30px;
		}

		h4 {
			font-size: 18px;
		}

		h5 {
			font-size: 14px;
		}

		h6 {
			font-size: 12px;
		}

		blockquote {
			font-size: 22px;
			font-style: italic;
			margin: 15px;
			width: 90%;
			margin-left: 5%;
			color: $cta;
		}

		table {
			width: 100%;
			margin-bottom: 30px;

			caption {
				margin-bottom: 10px;
				font-weight: 700;
			}

			thead {

				th {
					font-weight: 700;
					padding-bottom: 5px;
					border-right: 1px solid $border;
					border-bottom: 1px solid $border;

					&:last-child {
						border-right: none;
					}
				}
			}

			tbody {
				text-align: center;
				font-size: 14px;
				font-weight: 300;

				a {
					font-weight: 700;
				}

				tr {
					border-bottom: 1px solid $border;

					&:last-child {
						border-bottom: none;
					}

					td {
						border-right: 1px solid $border;
						padding: 7px;

						&:last-child {
							border-right: none;
						}
					}
				}
			}

			tfoot {
				font-size: 14px;

				#next {
					text-align: right;
				}
			}

			a {
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}

			td#prev {
				padding-top: 10px;
			}

			td#next {
				padding-top: 10px;
			}
		}

		dl {
			dd {
				margin-left: 30px;
			}
		}

		ul {
			list-style-type: initial;
			list-style-position: inside;

			li {
				margin-left: 30px;
			}
		}

		ol {
			list-style-type: initial;
			list-style-position: inside;

			li {
				margin-left: 30px;
			}
		}

		address {
			font-style: italic;
		}

		strong {
			font-weight: 700;
		}

		abbr,
		acronym {
			border-bottom: 1px dotted $border;
		}

		big {
			font-size: 24px;
		}

		cite {
			font-style: italic;
		}

		code,
		kbd {
			background: $border;
			padding: 5px;
		}

		pre,
		code {
			width: 80%;
			padding: 2%;
			background: rgba(255, 255, 255, 0.1);
			white-space: pre-wrap;
			white-space: -moz-pre-wrap;
			white-space: -pre-wrap;
			white-space: -o-pre-wrap;
			word-wrap: break-word;
			font-family: monospace;
		}

		sub,
		sup {
		  	font-size: 75%;
		  	line-height: 0;
		  	position: relative;
		  	vertical-align: baseline;
		}

		sup {
			top: -0.5em;
		}

		sub {
			bottom: -0.25em;
		}

		img {
			max-width: 100%;
		}

		.wp-caption {
			max-width: 100% !important;
		}

		img.alignright {
			float: right;
			margin: 0 0 30px 30px;
		}

		img.alignleft {
			float: left;
			margin: 0 30px 30px 0;
		}

		img.aligncenter {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		img.alignnone {
			max-width: 100%;
		}

		.alignright {
			float: right;
		}

		.alignleft {
			float: left;
		}

		.aligncenter {
			display: block;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}
	}

	h3 {
		font-size: 28px;
		text-transform: uppercase;
		font-weight: 700;
	}

	.post_meta {
		opacity: 0.8;
		font-style: italic;
		font-weight: 300;
		margin-top: 10px;
	}

	p {
		margin-top: 20px;
	}

	.readmore {
		margin-top: 40px;
		@extend .handwritting;
		font-size: 24px;
		display: block;
		letter-spacing: 2px;
	}
}

.navigation {
	padding: 40px 0;
	overflow: hidden;

	.left {
		float: left;

		i {
			padding-right: 10px;
		}
	}

	.right {
		float: right;
		text-align: right;

		i {
			padding-left: 10px;
		}
	}

	a {
		font-weight: 700;
		display: block;
	}
}

#footer {
	background: $text url('../images/concrete_wall.png');
	color: $border;
	overflow: hidden;
	padding-bottom: 40px;
	
	.wrapper {
		overflow: hidden;
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.col {
		@extend .borderbox;
		padding: 0 20px;
		float: left;

		&.three {
			width: 33.33%;
		}

		&.two {
			width: 50%;
		}

		&.one {
			width: 100%;
		}
	}

	.widget {
		width: 100%;
		@extend .borderbox;
		margin-bottom: 40px;

		a {
			color: $cta;
		}

		ul {
			position: relative;
			z-index: 99;
		}

		> ul > li:first-child {
			border-top: none;
		}


		li {
			border-top: 1px solid rgba($border, 0.2);

			&:hover {
				border-color: rgba($border, 0.5);
			}

			a {
				font-size: 18px;
				color: $cta;
				padding: 20px 0 20px 13px;
				display: block;

				&:hover {
					color: $hover;
				}
			}
		}

		#wp-calendar {
			width: 100%;
			margin-top: 20px;
		}
		#wp-calendar caption {
			margin-bottom: 10px;
		}
		#wp-calendar thead {
		}
		#wp-calendar thead th {
			border-right: 1px solid rgba($border, 0.2);
			border-bottom: 1px solid rgba($border, 0.2);
		}
		#wp-calendar thead th:last-child {
			border-right: none;
		}
		#wp-calendar tbody {
			text-align: center;
			font-size: 12px;
			font-weight: 300;
		}
		#wp-calendar tbody a {
			font-weight: 700;
		}
		#wp-calendar tbody tr {
			border-bottom: 1px solid rgba($border, 0.2);
		}
		#wp-calendar tbody tr:last-child {
			border-bottom: none;
		}
		#wp-calendar tbody tr td {
			border-right: 1px solid rgba($border, 0.2);
			padding: 7px;
		}
		#wp-calendar tbody tr td:last-child {
			border-right: none;
		}
		#wp-calendar tfoot {
			font-size: 14px;
		}
		#wp-calendar tfoot #next {
			text-align: right;
		}

		&.widget_search {
			input[type=search] {
				width: 60%;
				height: 40px;
				float: left;
				display: block;
				@extend .borderbox;
				padding: 0 15px;
				border-top-left-radius: 5px;
	  			border-bottom-left-radius: 5px;
				border: 1px solid #e4e4e4;
			}

			input[type=submit] {
				width: 35%;
				height: 40px;
				display: block;
				background: $cta;
				color: #fff;
				text-transform: uppercase;
				border: 1px solid $cta;
				float: left;
				border: none;
				border-top-right-radius: 5px;
	  			border-bottom-right-radius: 5px;

	  			&:hover {
	  				cursor: pointer;
					border-color: $hover;
	  				background: $hover;
	  			}
			}

			span {
				display: none;
			}

			form {
				display: block;
				margin-top: 20px;
				overflow: hidden;
			}
		}

		img {
			max-width: 100%;
			height: auto;
		}

		select {
			max-width: 100%;
		}

		strong {
			font-weight: 700;
		}

		.wp-caption-text {
			padding: 3px;
			font-style: italic;
			font-weight: 300;
		}

		.tagcloud a {
			display: inline-block;
			padding: 4px 8px;
			border-radius: 5px;
			border: 1px solid $cta;
			margin: 3px;
		}

		&.widget_categories,
		&.widget_archive,
		&.widget_recent_comments {
			li {
				padding: 20px 0 20px 13px;

				a {
					width: auto;
					display: inline;
					padding: 0;
					margin-right: 10px;
				}
			}
		}

		select {  
			margin-top: 20px;
		}

		&.widget_recent_comments {
			span {
				width: 100%;
				font-style: italic;
				display: block;
				font-size: 14px;

				a {
					font-size: 14px;
				}
			}
		}

		&.widget_rss {
			a {
				padding: 0;
			}

			.rss-date {
				margin: 10px 0;
				font-style: italic;
			}

			li {
				padding: 20px 0;
			}
		}
	}

	.widget_title {
		font-weight: 700;
		margin-bottom: 20px;
	}

	.copyright {
		width: 100%;
		line-height: 20px;
		text-align: center;
		opacity: 0.7;
		padding-top: 40px;
		border-top: 1px solid rgba($border, 0.1);
		font-weight: 300;
	}
}

.single-post {
	.featured_image {
		width: 100%;
		float: none;
		height: 300px;
	}

	.post_content {
		width: 100%;
		float: none;
	}


	p {
		margin-bottom: 40px;
	}
}

#comments {
	@extend .borderbox;
	width: 100%;
	background: #fff;
	box-shadow: 0 0 50px 0 rgba(black, 0.25);
	padding: 40px;
	margin-bottom: 80px;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		display: block;
		margin: auto;
		left: 0; right: 0;
		width: 0;
		height: 0;
		top: -50px;
		border: 25px solid #fff;
		border-top-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
	}
	.comment-metadata {
		font-size: 12px;
		opacity: 0.7;
		font-style: italic;

		a {
			font-weight: 400;
		}
	}

	h3, h2 {
		font-size: 24px;
		text-transform: uppercase;
		font-weight: 700;
		margin-bottom: 20px;
	}

	> ol {
		&:last-of-type {
			margin-bottom: 40px;
		}
	}

	ol ol {
		margin-left: 5%;
		margin-bottom: 40px;
	}

	.comment-meta {
		font-weight: 700;
		margin-bottom: 10px;

		span {
			font-weight: 300;
			font-style: italic;
			margin-bottom: 20px;
			font-size: 12px;
		}
	}

	li,
	article {
		margin-bottom: 20px;
	}

	li ol .comment-content {
		font-style: italic;
		font-size: 14px;
	}

	.reply {
		@extend .handwritting;
		font-size: 22px;
		float: right;
	}

	#respond {


		p {
			margin-bottom: 20px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		input,
		textarea {
			width: 100%;
			@extend .borderbox;
			padding: 10px 20px;
			border: 1px solid rgba($text, 0.4);
			font-weight: 300;
			@extend .roboto;

			&:focus {
				outline: none;
				border-color: $cta;
			}
		}

		textarea {
			padding: 20px;
		}
	}

	.required {
		color: tomato;
		font-weight: 700;
	}

	input[type=submit] {
		border: none !important;
		background: $cta;
		text-transform: uppercase;
		font-weight: 700 !important;
		padding: 20px !important;
		color: #fff;

		&:hover {
			background: $hover;
			cursor: pointer;
		}
	}
}

@media screen and (min-width: 1366px) {
	.wrapper {
		width: 1366px;
	}

	#respond {
		width: 70%;
		margin-left: 15%;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1366px) {
	.wrapper {
		width: 1025px;
	}

	#respond {
		width: 70%;
		margin-left: 15%;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.wrapper {
		width: 768px;
	}

	#respond {
		width: 70%;
		margin-left: 15%;
	}
}

@media screen and (min-width: 480px) and (max-width: 767px) {
	.wrapper {
		width: 480px;
	}
}

@media screen and (max-width: 479px) {
	.wrapper {
		width: 80%;
	}
}

@media screen and (max-width: 767px) {
	.post .featured_image,
	.post .post_content,
	#footer .col {
		width: 100% !important; 
		float: left;
	}

	.post .featured_image {
		height: 200px;
	}
	
	#footer .col {
		margin-bottom: 40px;
	}
	
	#main_navigation {
		padding: 10px 0;
		min-height: 40px;

		a {
			padding: 0 15px;
			line-height: 40px;
		}
	}
}

.archive_title {
	font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 80px;
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

 .gallery-caption {
 	font-style: italic;
 }

 .bypostauthor {
 	font-weight: bold;
 }