@import "reset";
@import "cf";
@import "mixins";
@import "colors";

.roboto {
	font-family: 'Roboto Slab', serif;
}

.handwritting {
	font-family: 'Just Another Hand', cursive;
}

body {
	@extend .roboto;
	line-height: 26px;
	color: $text;
	background: url('../images/concrete_seamless.png');
	font-size: 16px;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

#header {
	@extend .bgcover;
	width: 100%;
	overflow: hidden;
	background-position: center center;

	.overlay {
		background-color: rgba($headline, 0.7);
		overflow: hidden;
		width: 100%;
	}
}

#logo {
	margin: 80px auto;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	display: block;

	h1 {
		font-weight: 700;
		font-size: 36px;
	}

	h2 {
		font-size: 24px;
		font-weight: 300;
		margin-top: 10px;
		letter-spacing: 1px;
	}
}

#main_navigation {
	width: 100%;
	min-height: 80px;
	text-align: center;
	background: #fff;

	li {
		text-align: center;
		display: inline-block;

		&:last-of-type {
			a {
				border-right: none;
			}
		}
	}

	a {
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 700;
		padding: 0 40px;
		border-right: 1px solid $border;
		line-height: 80px;
		display: block;
	}
}

.post {
	width: 100%;
	background: #fff;
	box-shadow: 0 0 40px 0 rgba(black, 0.2);
	margin-top: 80px;
	overflow: hidden;

	.featured_image {
		width: 40%;
		height: 100%;
		float: left;
		@extend .bgcover;
		background-position: center center;
		overflow: hidden;
		background-position: center center;
	}

	.post_content {
		width: 60%;
		padding: 40px;
		@extend .borderbox;
		float: left;
	}

	h3 {
		font-size: 28px;
		text-transform: uppercase;
		font-weight: 700;
	}

	.post_meta {
		opacity: 0.8;
		font-style: italic;
		font-weight: 300;
		margin-top: 10px;
	}

	p {
		margin-top: 20px;
	}

	.readmore {
		margin-top: 40px;
		@extend .handwritting;
		font-size: 24px;
		display: block;
		letter-spacing: 2px;
	}
}

.navigation {
	padding: 40px 0;
	overflow: hidden;

	.left {
		float: left;

		i {
			padding-right: 10px;
		}
	}

	.right {
		float: right;
		text-align: right;

		i {
			padding-left: 10px;
		}
	}

	a {
		font-weight: 700;
		display: block;
	}
}

#footer {
	background: $text url('../images/concrete_wall.png');
	color: $border;
	overflow: hidden;
	padding-bottom: 40px;
	
	.wrapper {
		overflow: hidden;
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.widget {
		width: 33.33%;
		@extend .borderbox;
		padding: 0 20px;
		float: left;
	}

	.widget_title {
		font-weight: 700;
		margin-bottom: 20px;
	}

	.copyright {
		width: 100%;
		line-height: 20px;
		text-align: center;
		opacity: 0.7;
		padding-top: 40px;
		border-top: 1px solid rgba($border, 0.1);
		font-weight: 300;
	}
}

.single-post {
	.featured_image {
		width: 100%;
		float: none;
		height: 300px;
	}

	.post_content {
		width: 100%;
		float: none;
	}


	p {
		margin-bottom: 40px;
	}
}

#comments {
	@extend .borderbox;
	width: 100%;
	background: #fff;
	box-shadow: 0 0 50px 0 rgba(black, 0.25);
	padding: 40px;
	margin-bottom: 80px;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		display: block;
		margin: auto;
		left: 0; right: 0;
		width: 0;
		height: 0;
		top: -50px;
		border: 25px solid #fff;
		border-top-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
	}

	h2 {
		font-size: 24px;
		text-transform: uppercase;
		font-weight: 700;
		margin-bottom: 20px;
	}

	> ol {
		&:last-of-type {
			margin-bottom: 40px;
		}
	}

	ol ol {
		margin-left: 5%;
		margin-bottom: 40px;
	}

	.comment-meta {
		font-weight: 700;
		margin-bottom: 10px;

		span {
			font-weight: 300;
			font-style: italic;
			margin-bottom: 20px;
			font-size: 12px;
		}
	}

	li,
	article {
		margin-bottom: 20px;
	}

	li ol .comment-content {
		font-style: italic;
		font-size: 14px;
	}

	.reply {
		@extend .handwritting;
		font-size: 22px;
		float: right;
	}

	#respond {
		p {
			margin-bottom: 20px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		input,
		textarea {
			width: 100%;
			@extend .borderbox;
			padding: 10px 20px;
			border: 1px solid rgba($text, 0.4);
			font-weight: 300;
			@extend .roboto;

			&:focus {
				outline: none;
				border-color: $cta;
			}
		}

		textarea {
			padding: 20px;
		}
	}

	.required {
		color: tomato;
		font-weight: 700;
	}

	input[type=submit] {
		border: none !important;
		background: $cta;
		text-transform: uppercase;
		font-weight: 700 !important;
		padding: 20px !important;
		color: #fff;

		&:hover {
			background: $hover;
			cursor: pointer;
		}
	}
}

@media screen and (min-width: 1366px) {
	.wrapper {
		width: 1366px;
	}

	#respond {
		width: 70%;
		margin-left: 15%;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1366px) {
	.wrapper {
		width: 1025px;
	}

	#respond {
		width: 70%;
		margin-left: 15%;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.wrapper {
		width: 768px;
	}

	#respond {
		width: 70%;
		margin-left: 15%;
	}
}

@media screen and (min-width: 480px) and (max-width: 767px) {
	.wrapper {
		width: 480px;
	}
}

@media screen and (max-width: 479px) {
	.wrapper {
		width: 80%;
	}
}

@media screen and (max-width: 767px) {
	.post .featured_image,
	.post .post_content,
	#footer .widget {
		width: 100%;
		float: left;
	}

	.post .featured_image {
		height: 200px;
	}
	
	#footer .widget {
		margin-bottom: 40px;
	}
	
	#main_navigation {
		padding: 10px 0;

		a {
			padding: 0 15px;
			line-height: 40px;
		}
	}
}