.borderbox, .post .post_content, #footer .col, #footer .widget, #footer .widget.widget_search input[type=search], #comments, #comments #respond input,
#comments #respond textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.transition, a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s; }

.bgcover, #header, .post .featured_image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: #30343D; }
  a:hover {
    color: #E65E24; }

svg {
  max-width: 100%; }

* {
  margin: 0;
  padding: 0; }

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

.clear {
  clear: both; }

.borderbox, .post .post_content, #footer .col, #footer .widget, #footer .widget.widget_search input[type=search], #comments, #comments #respond input,
#comments #respond textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.transition, a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s; }

.bgcover, #header, .post .featured_image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.roboto, body, #comments #respond input,
#comments #respond textarea {
  font-family: 'Roboto Slab', serif; }

.handwritting, .post .readmore, #comments .reply {
  font-family: 'Just Another Hand', cursive; }

body {
  line-height: 26px;
  color: #30343D;
  background: url("../images/concrete_seamless.png");
  font-size: 16px; }

.wrapper {
  width: 80%;
  margin: 0 auto; }

#header {
  width: 100%;
  overflow: hidden;
  background-position: center center; }
  #header .overlay {
    background-color: rgba(5, 5, 7, 0.7);
    overflow: hidden;
    width: 100%; }

#logo {
  margin: 80px auto;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  display: block; }
  #logo h1 {
    font-weight: 700;
    font-size: 36px; }
  #logo h2 {
    font-size: 24px;
    font-weight: 300;
    margin-top: 10px;
    letter-spacing: 1px; }

#main_navigation {
  width: 100%;
  min-height: 80px;
  text-align: center;
  background: #fff; }
  #main_navigation li {
    text-align: center;
    display: inline-block; }
    #main_navigation li:last-of-type a {
      border-right: none; }
  #main_navigation a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    padding: 0 40px;
    border-right: 1px solid #eee;
    line-height: 80px;
    display: block; }

.post {
  width: 100%;
  background: #fff;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);
  margin-top: 80px;
  overflow: hidden; }
  .post.sticky {
    box-shadow: 0 0 0 11px #fff inset, 0 0 0 15px rgba(0, 0, 0, 0.05) inset; }
  .post.page {
    margin-bottom: 80px; }
  .post .featured_image {
    width: 40%;
    height: 100%;
    float: left;
    background-position: center center;
    overflow: hidden;
    background-position: center center; }
  .post .post_content {
    width: 60%;
    padding: 40px;
    float: left; }
    .post .post_content h1, .post .post_content h2, .post .post_content h3, .post .post_content h4, .post .post_content h5, .post .post_content h6 {
      font-weight: 700;
      margin-bottom: 15px; }
    .post .post_content h1 {
      font-size: 32px; }
    .post .post_content h2 {
      font-size: 30px; }
    .post .post_content h4 {
      font-size: 18px; }
    .post .post_content h5 {
      font-size: 14px; }
    .post .post_content h6 {
      font-size: 12px; }
    .post .post_content blockquote {
      font-size: 22px;
      font-style: italic;
      margin: 15px;
      width: 90%;
      margin-left: 5%;
      color: #4FCCFC; }
    .post .post_content table {
      width: 100%;
      margin-bottom: 30px; }
      .post .post_content table caption {
        margin-bottom: 10px;
        font-weight: 700; }
      .post .post_content table thead th {
        font-weight: 700;
        padding-bottom: 5px;
        border-right: 1px solid #eee;
        border-bottom: 1px solid #eee; }
        .post .post_content table thead th:last-child {
          border-right: none; }
      .post .post_content table tbody {
        text-align: center;
        font-size: 14px;
        font-weight: 300; }
        .post .post_content table tbody a {
          font-weight: 700; }
        .post .post_content table tbody tr {
          border-bottom: 1px solid #eee; }
          .post .post_content table tbody tr:last-child {
            border-bottom: none; }
          .post .post_content table tbody tr td {
            border-right: 1px solid #eee;
            padding: 7px; }
            .post .post_content table tbody tr td:last-child {
              border-right: none; }
      .post .post_content table tfoot {
        font-size: 14px; }
        .post .post_content table tfoot #next {
          text-align: right; }
      .post .post_content table a {
        text-decoration: underline; }
        .post .post_content table a:hover {
          text-decoration: none; }
      .post .post_content table td#prev {
        padding-top: 10px; }
      .post .post_content table td#next {
        padding-top: 10px; }
    .post .post_content dl dd {
      margin-left: 30px; }
    .post .post_content ul {
      list-style-type: initial;
      list-style-position: inside; }
      .post .post_content ul li {
        margin-left: 30px; }
    .post .post_content ol {
      list-style-type: initial;
      list-style-position: inside; }
      .post .post_content ol li {
        margin-left: 30px; }
    .post .post_content address {
      font-style: italic; }
    .post .post_content strong {
      font-weight: 700; }
    .post .post_content abbr,
    .post .post_content acronym {
      border-bottom: 1px dotted #eee; }
    .post .post_content big {
      font-size: 24px; }
    .post .post_content cite {
      font-style: italic; }
    .post .post_content code,
    .post .post_content kbd {
      background: #eee;
      padding: 5px; }
    .post .post_content pre,
    .post .post_content code {
      width: 80%;
      padding: 2%;
      background: rgba(255, 255, 255, 0.1);
      white-space: pre-wrap;
      white-space: -moz-pre-wrap;
      white-space: -pre-wrap;
      white-space: -o-pre-wrap;
      word-wrap: break-word;
      font-family: monospace; }
    .post .post_content sub,
    .post .post_content sup {
      font-size: 75%;
      line-height: 0;
      position: relative;
      vertical-align: baseline; }
    .post .post_content sup {
      top: -0.5em; }
    .post .post_content sub {
      bottom: -0.25em; }
    .post .post_content img {
      max-width: 100%; }
    .post .post_content .wp-caption {
      max-width: 100% !important; }
    .post .post_content img.alignright {
      float: right;
      margin: 0 0 30px 30px; }
    .post .post_content img.alignleft {
      float: left;
      margin: 0 30px 30px 0; }
    .post .post_content img.aligncenter {
      display: block;
      margin-left: auto;
      margin-right: auto; }
    .post .post_content img.alignnone {
      max-width: 100%; }
    .post .post_content .alignright {
      float: right; }
    .post .post_content .alignleft {
      float: left; }
    .post .post_content .aligncenter {
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center; }
  .post h3 {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700; }
  .post .post_meta {
    opacity: 0.8;
    font-style: italic;
    font-weight: 300;
    margin-top: 10px; }
  .post p {
    margin-top: 20px; }
  .post .readmore {
    margin-top: 40px;
    font-size: 24px;
    display: block;
    letter-spacing: 2px; }

.navigation {
  padding: 40px 0;
  overflow: hidden; }
  .navigation .left {
    float: left; }
    .navigation .left i {
      padding-right: 10px; }
  .navigation .right {
    float: right;
    text-align: right; }
    .navigation .right i {
      padding-left: 10px; }
  .navigation a {
    font-weight: 700;
    display: block; }

#footer {
  background: #30343D url("../images/concrete_wall.png");
  color: #eee;
  overflow: hidden;
  padding-bottom: 40px; }
  #footer .wrapper {
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 40px; }
  #footer .col {
    padding: 0 20px;
    float: left; }
    #footer .col.three {
      width: 33.33%; }
    #footer .col.two {
      width: 50%; }
    #footer .col.one {
      width: 100%; }
  #footer .widget {
    width: 100%;
    margin-bottom: 40px; }
    #footer .widget a {
      color: #4FCCFC; }
    #footer .widget ul {
      position: relative;
      z-index: 99; }
    #footer .widget > ul > li:first-child {
      border-top: none; }
    #footer .widget li {
      border-top: 1px solid rgba(238, 238, 238, 0.2); }
      #footer .widget li:hover {
        border-color: rgba(238, 238, 238, 0.5); }
      #footer .widget li a {
        font-size: 18px;
        color: #4FCCFC;
        padding: 20px 0 20px 13px;
        display: block; }
        #footer .widget li a:hover {
          color: #E65E24; }
    #footer .widget #wp-calendar {
      width: 100%;
      margin-top: 20px; }
    #footer .widget #wp-calendar caption {
      margin-bottom: 10px; }
    #footer .widget #wp-calendar thead th {
      border-right: 1px solid rgba(238, 238, 238, 0.2);
      border-bottom: 1px solid rgba(238, 238, 238, 0.2); }
    #footer .widget #wp-calendar thead th:last-child {
      border-right: none; }
    #footer .widget #wp-calendar tbody {
      text-align: center;
      font-size: 12px;
      font-weight: 300; }
    #footer .widget #wp-calendar tbody a {
      font-weight: 700; }
    #footer .widget #wp-calendar tbody tr {
      border-bottom: 1px solid rgba(238, 238, 238, 0.2); }
    #footer .widget #wp-calendar tbody tr:last-child {
      border-bottom: none; }
    #footer .widget #wp-calendar tbody tr td {
      border-right: 1px solid rgba(238, 238, 238, 0.2);
      padding: 7px; }
    #footer .widget #wp-calendar tbody tr td:last-child {
      border-right: none; }
    #footer .widget #wp-calendar tfoot {
      font-size: 14px; }
    #footer .widget #wp-calendar tfoot #next {
      text-align: right; }
    #footer .widget.widget_search input[type=search] {
      width: 60%;
      height: 40px;
      float: left;
      display: block;
      padding: 0 15px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border: 1px solid #e4e4e4; }
    #footer .widget.widget_search input[type=submit] {
      width: 35%;
      height: 40px;
      display: block;
      background: #4FCCFC;
      color: #fff;
      text-transform: uppercase;
      border: 1px solid #4FCCFC;
      float: left;
      border: none;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
      #footer .widget.widget_search input[type=submit]:hover {
        cursor: pointer;
        border-color: #E65E24;
        background: #E65E24; }
    #footer .widget.widget_search span {
      display: none; }
    #footer .widget.widget_search form {
      display: block;
      margin-top: 20px;
      overflow: hidden; }
    #footer .widget img {
      max-width: 100%;
      height: auto; }
    #footer .widget select {
      max-width: 100%; }
    #footer .widget strong {
      font-weight: 700; }
    #footer .widget .wp-caption-text {
      padding: 3px;
      font-style: italic;
      font-weight: 300; }
    #footer .widget .tagcloud a {
      display: inline-block;
      padding: 4px 8px;
      border-radius: 5px;
      border: 1px solid #4FCCFC;
      margin: 3px; }
    #footer .widget.widget_categories li, #footer .widget.widget_archive li, #footer .widget.widget_recent_comments li {
      padding: 20px 0 20px 13px; }
      #footer .widget.widget_categories li a, #footer .widget.widget_archive li a, #footer .widget.widget_recent_comments li a {
        width: auto;
        display: inline;
        padding: 0;
        margin-right: 10px; }
    #footer .widget select {
      margin-top: 20px; }
    #footer .widget.widget_recent_comments span {
      width: 100%;
      font-style: italic;
      display: block;
      font-size: 14px; }
      #footer .widget.widget_recent_comments span a {
        font-size: 14px; }
    #footer .widget.widget_rss a {
      padding: 0; }
    #footer .widget.widget_rss .rss-date {
      margin: 10px 0;
      font-style: italic; }
    #footer .widget.widget_rss li {
      padding: 20px 0; }
  #footer .widget_title {
    font-weight: 700;
    margin-bottom: 20px; }
  #footer .copyright {
    width: 100%;
    line-height: 20px;
    text-align: center;
    opacity: 0.7;
    padding-top: 40px;
    border-top: 1px solid rgba(238, 238, 238, 0.1);
    font-weight: 300; }

.single-post .featured_image {
  width: 100%;
  float: none;
  height: 300px; }

.single-post .post_content {
  width: 100%;
  float: none; }

.single-post p {
  margin-bottom: 40px; }

#comments {
  width: 100%;
  background: #fff;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.25);
  padding: 40px;
  margin-bottom: 80px;
  position: relative; }
  #comments:before {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    top: -50px;
    border: 25px solid #fff;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent; }
  #comments .comment-metadata {
    font-size: 12px;
    opacity: 0.7;
    font-style: italic; }
    #comments .comment-metadata a {
      font-weight: 400; }
  #comments h3, #comments h2 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px; }
  #comments > ol:last-of-type {
    margin-bottom: 40px; }
  #comments ol ol {
    margin-left: 5%;
    margin-bottom: 40px; }
  #comments .comment-meta {
    font-weight: 700;
    margin-bottom: 10px; }
    #comments .comment-meta span {
      font-weight: 300;
      font-style: italic;
      margin-bottom: 20px;
      font-size: 12px; }
  #comments li,
  #comments article {
    margin-bottom: 20px; }
  #comments li ol .comment-content {
    font-style: italic;
    font-size: 14px; }
  #comments .reply {
    font-size: 22px;
    float: right; }
  #comments #respond p {
    margin-bottom: 20px; }
    #comments #respond p:last-of-type {
      margin-bottom: 0; }
  #comments #respond input,
  #comments #respond textarea {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid rgba(48, 52, 61, 0.4);
    font-weight: 300; }
    #comments #respond input:focus,
    #comments #respond textarea:focus {
      outline: none;
      border-color: #4FCCFC; }
  #comments #respond textarea {
    padding: 20px; }
  #comments .required {
    color: tomato;
    font-weight: 700; }
  #comments input[type=submit] {
    border: none !important;
    background: #4FCCFC;
    text-transform: uppercase;
    font-weight: 700 !important;
    padding: 20px !important;
    color: #fff; }
    #comments input[type=submit]:hover {
      background: #E65E24;
      cursor: pointer; }

@media screen and (min-width: 1366px) {
  .wrapper {
    width: 1366px; }
  #respond {
    width: 70%;
    margin-left: 15%; } }

@media screen and (min-width: 1025px) and (max-width: 1366px) {
  .wrapper {
    width: 1025px; }
  #respond {
    width: 70%;
    margin-left: 15%; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    width: 768px; }
  #respond {
    width: 70%;
    margin-left: 15%; } }

@media screen and (min-width: 480px) and (max-width: 767px) {
  .wrapper {
    width: 480px; } }

@media screen and (max-width: 479px) {
  .wrapper {
    width: 80%; } }

@media screen and (max-width: 767px) {
  .post .featured_image,
  .post .post_content,
  #footer .col {
    width: 100% !important;
    float: left; }
  .post .featured_image {
    height: 200px; }
  #footer .col {
    margin-bottom: 40px; }
  #main_navigation {
    padding: 10px 0;
    min-height: 40px; }
    #main_navigation a {
      padding: 0 15px;
      line-height: 40px; } }

.archive_title {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 80px; }

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

.gallery-caption {
  font-style: italic; }

.bypostauthor {
  font-weight: bold; }

/*# sourceMappingURL=main.css.map */